html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: navajowhite;
}

.intro{
    font-size: 30px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #000000;
}

.btn-primary {
    color: #fff;
    background-color: #1dc3c5;
    border-color: #1ba0a1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1dc3c5;
    border-color: #1ba0a1;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: center;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    text-align: center;
}

.animate-text {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #FDB813 0%, #E85A4F 48%, #E98008 100%);
    background-size: auto auto;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 120px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}