@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movies and Actors</h1>
    <p>A place where you can view and manage movies and actors. 
        You can view, add, delete, and edit details, as well as view the top 100 tweets and their sentiment analyses. 
        You are also able to link actors and movies to each other. Once created, the movies will show up in the actor's detail section,
        and the actor in the movie's detail section.</p>
</div>
