@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At Movies and Actors, we value and respect the privacy of our users. This Privacy Policy outlines how we collect, use, and protect personal information provided by our users.

    Information Collection and Use
    We may collect personal information from our users such as names, email addresses, and other contact information. This information is collected when users register on our website, subscribe to our newsletter, fill out forms, or interact with other features of our website. We may use this information to contact users, provide services, or respond to inquiries.

    Cookies and Analytics
    We use cookies to enhance user experience on our website. Cookies are small files that are placed on users’ computers when they visit our website. Cookies enable us to track user preferences and usage of our website. We also use analytics tools such as Google Analytics to collect information about how users interact with our website. This information is used to improve our website and services.

    Third-Party Disclosure
    We do not sell or rent personal information to third parties. However, we may share personal information with third-party service providers who assist us in providing our services. We may also disclose personal information in response to legal requirements or in compliance with law enforcement agencies.

    Security Measures
    We take reasonable measures to protect personal information from unauthorized access, use, or disclosure. We use secure servers and encryption technologies to safeguard personal information. However, we cannot guarantee the security of personal information transmitted over the internet.

    Changes to Privacy Policy
    We reserve the right to update or modify this Privacy Policy at any time. Users will be notified of any changes to this policy via email or through our website.

    Contact Information
    If you have any questions or concerns about this Privacy Policy, please contact us.
</p>
